extends skeleton.pug

block vars
    - var bodyClass = "detail";

block content
    include hero

    if stills
        section.list
            h2 Stills
            ul.card-list
                li: img(src='/img/' + slug + '-still1.jpg')
                li: img(src='/img/' + slug + '-still2.jpg')
                li: img(src='/img/' + slug + '-still3.jpg')
                li: img(src='/img/' + slug + '-still4.jpg')

    if submovies
        section.list
            h2 Films in the collection
            ul.card-list.submovies
                each _, counter in Array(submovies)
                    li: img(src='/img/' + slug + '-submovie' + (counter + 1) + '.jpg')

    include recommend
