block vars

html
    head
        link(rel="stylesheet", type="text/css", href="/css/main.css")

        title !{title}
            if bodyClass !== 'landing'
                = ' - Nestflix'

        link(rel='shortcut icon', href='/img/_icons/favicon.png')

        meta(content='@lynnandtonic', name='twitter:site')
        meta(content='@lynnandtonic', name='twitter:creator')
        meta(content=title + ' — Nestflix', name='twitter:title', property='og:title')
        //- TODO: maybe a better description for the actual page
        meta(content=description, name='twitter:description', property='og:description')
        meta(name='twitter:card', content='summary_large_image')
        meta(property='og:type',  content='website')
        //- TODO: replace URL with final domain
        //- TODO: add default OG image for non-detail pages
        meta(content='https://nestflix.co/' + slug, property='og:url')
        meta(content='https://nestflix.co/' + slug, property='twitter:url')
        meta(content='https://nestflix.co/img/' + slug + '-thumb-1200w.jpg', property='og:image')
        meta(content='https://nestflix.co/img/' + slug + '-thumb-1200w.jpg', name='twitter:image')
        meta(property='og:image:width', content='1200')
        meta(property='og:image:height', content='630')

    body(class=bodyClass)
        a.skip-link(href='#content') Skip to content

        header
            nav
                a.nav-home(href='/')
                    img(src='/img/_logos/logo-nestflix.svg' alt='Nestflix')
                a(href='/search') Search
                a(href='#') About
                a(href='#') Contribute
                a.nav-user(href='#') User FPO

        main
            block content

        footer
            nav
                a.nav-home(href='/')
                    img(src='/img/_logos/logo-nestflix.svg' alt='Nestflix')
                a(href='/search') Search
                a(href='#') About
                a(href='#') Contribute
            div
                p Nestflix is not affiliated with Netflix or any other streaming service or film studio.
                p Made with love by #[a(href='https://twitter.com/lynnandtonic') Lynn Fisher].
                p.coffee #[span Like this site?]
                 a(href="https://www.buymeacoffee.com/lynnandtonic") Buy me a coffee
