block vars

html
    head
        link(rel='stylesheet', type='text/css', href='/css/main.css')

        title !{title}
            if bodyClass !== 'landing'
                = ' - Nestflix'

        link(rel='shortcut icon', href='/img/_icons/favicon.png')

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap' rel='stylesheet')

        meta(content='@lynnandtonic', name='twitter:site')
        meta(content='@lynnandtonic', name='twitter:creator')
        if bodyClass == 'landing'
            meta(content='Nestflix', name='twitter:title', property='og:title')
        else
            meta(content=title + ' — Nestflix', name='twitter:title', property='og:title')
        //- TODO: maybe a better description for the actual page
        meta(content=description, name='twitter:description', property='og:description')
        meta(name='twitter:card', content='summary_large_image')
        meta(property='og:type',  content='website')
        meta(content='https://nestflix.fun/' + slug, property='og:url')
        meta(content='https://nestflix.fun/' + slug, property='twitter:url')
        if bodyClass == 'detail'
            meta(content='https://nestflix.fun/img/' + slug + '-thumb-1200w.jpg', property='og:image')
            meta(content='https://nestflix.fun/img/' + slug + '-thumb-1200w.jpg', name='twitter:image')
        else
            meta(content='https://nestflix.fun/img/nestflix-thumb-1200w.jpg', property='og:image')
            meta(content='https://nestflix.fun/img/nestflix-thumb-1200w.jpg', name='twitter:image')
        meta(property='og:image:width', content='1200')
        meta(property='og:image:height', content='630')

    body(class=bodyClass)
        a.skip-link(href='#content') Skip to content

        header
            nav
                a.nav-home(href='/')
                    img(src='/img/_logos/logo-nestflix.svg' alt='Nestflix')
                a(href='/search') Search
                a(href='/contribute') Contribute
                a.nav-user(href='/user')
                    img(src='/img/_icons/icon-user.svg' alt='user icon')

        main
            block content

        footer
            nav
                a.nav-home(href='/')
                    img(src='/img/_logos/logo-nestflix.svg' alt='Nestflix')
                a(href='/search') Search
                a(href='/contribute') Contribute
            div
                p Nestflix is not affiliated with Netflix or any other streaming service or film studio.
                p Made with love by #[a(href='https://twitter.com/lynnandtonic') Lynn Fisher].<br/>Big thanks to Jason Rose.
                p.coffee #[span Like this site?]
                 a(href='https://www.buymeacoffee.com/lynnandtonic') Buy me a coffee
