---
---
html
    head
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        title !{title}
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")

    body(class=bodyClass)

        header
            nav
                a.nav-home(href='/') NESTFLIX
                //- a(href='#') Movies
                //- a(href='#') TV
                input.search(type='text' name='search' autocomplete='off' autocorrect='off')

        main !{content}

        footer
            | Footer

        include slideshow.html
