/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/

button,
a.button
  width: auto
  padding: 1em 2em .8em
  align-self: flex-start
  background-color: white
  border: none
  border-radius: 5px
  text-transform: uppercase
  font-weight: bold
  font-size: 80%
  color: $grey-drk
  cursor: pointer
  transition: all 100ms ease-in-out

  &:hover
    background-color: $pink-med
    text-decoration: none
    color: white
