/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/

button,
a.button
  display: block
  width: auto
  padding: 1em 2em
  align-self: flex-start
  background-color: white
  border: none
  border-radius: 5px
  text-transform: uppercase
  font-weight: $font-weight-bold
  font-size: 80%
  color: $grey-drk
  cursor: pointer
  box-shadow: black(.3) 0 7px 13px -5px,
              black(.1) 0 5px 4px -5px
  transform: scale(1, 1) translateZ(0px) translate3d(0px, 0px, 0px)
  transition-duration: 200ms
  transition-property: color, background-color, transform, box-shadow
  transition-timing-function: ease-out

  &:hover,
  &:focus
    background-color: $gold
    text-decoration: none
    color: $grey-drk
    box-shadow: black(.5) 0 10px 20px -8px,
                black(.3) 0 5px 5px -5px
    transform: scale(1.04, 1.04) translateZ(0px) translate3d(0px, 0px, 0px)

  &.secondary
    background-color: $gold
    color: $grey-drk

    &:hover
      background-color: $grey-drk
      color: white
