/*--------------------------------------------------------------------
* $LIST
--------------------------------------------------------------------*/

.list
  margin: var(--body-padding)
  margin-bottom: 0

  h2
    text-transform: uppercase
    font-weight: $font-weight-medium
    font-size: 90%

  .card-list
    margin-bottom: 0
    display: grid
    grid-gap: .5em
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    @media screen and (max-width: $bp-sm) and (min-width: 320px)
      grid-template-columns: repeat(2,1fr)
    @media screen and (min-width: $bp-sm  + 1)
      grid-template-columns: repeat(4,1fr)
  
    &.submovies
      @media screen and (min-width: $bp-sm  + 1)
        grid-template-columns: repeat(3,1fr)

  li

    a, picture
      display: block

      img
        width: 100%
        border-radius: 3px

      // p
      //   margin-top: .5em

      // :last-child
      //   margin-bottom: 0

  // &.recommend p
  //   font-size: 88%
  //   padding-right: 10%
