/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

footer
  margin-top: 2em
  padding: 2em
  background-color: $pink-med
