/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

footer
  margin-top: 2em
  padding: 2em
  background-color: white(.1)
  font-size: 90%

  nav
    margin-bottom: 2em
    display: flex
    gap: 2.5em

    a
      font-weight: $font-weight-light
      color: inherit

  p
    max-width: 400px

    &:last-child
      margin-bottom: 0

  .coffee

    span,
    a
      display: inline-block

    a
      margin-left: 25px
      position: relative

    a:before
      content: ''
      height: 20px
      width: 20px
      left: -25px
      top: 1px
      display: block
      position: absolute
      background: no-repeat url('/img/_icons/coffee.svg') 5px center
      background-size: auto 20px
