/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/

header
  width: 100%
  position: absolute
  padding: 1em var(--body-padding)
  z-index: 10
  background-image: linear-gradient(to bottom, black(.4) 30%, black(0))

  @media screen and (max-width: $bp-md)
    padding-bottom: 2em
    background-image: linear-gradient(to bottom, black(.6) 40%,
                                                 black(.1) 85%,
                                                 black(0) 100%)

  nav
    display: flex
    align-items: center
    gap: 1.2em
    font-size: 80%

    a
      color: white

  .nav-user
    margin-left: auto

  .nav-home
    @media screen and (max-width: $bp-md)
      max-width: 100px
    @media screen and (min-width: $bp-md + 1)
      max-width: 140px

  //- maybe add this back in, but it might just be a link to the search page
  // .search
  //   align-self: flex-start
  //   background-color: black(.1)
  //   background-repeat: no-repeat
  //   background-image: url('../img/_icons/icon-search.svg')
  //   background-size: auto 70%
  //   background-position: right 5px center
  //   border: 1px solid white
  //   border-radius: 3px
  //   color: white
  //   font-size: 100%
