/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/

$header-h = 70px

header
  width: 100%
  position: absolute
  padding: 1em var(--body-padding)
  z-index: 10
  background-image: linear-gradient(to bottom, black(.4) 30%, black(0))

  nav
    height: $header-h
    display: flex
    justify-content: flex-end
    gap: 2em

  .nav-home
    margin-right: auto
    max-width: 140px

  .search
    align-self: flex-start
    background-color: black(.1)
    background-repeat: no-repeat
    background-image: url('../img/_icons/icon-search.svg')
    background-size: auto 70%
    background-position: right 5px center
    border: 1px solid white
    border-radius: 3px
    color: white
    font-size: 100%
    
