/*--------------------------------------------------------------------
* $VARIABLES
--------------------------------------------------------------------*/

// Font Families
$font-family-georgia = Georgia, Times, serif
$font-family-rubik = 'Rubik', Helvetica, Arial, sans-serif

// Font Weights
$font-weight-light = 300
$font-weight-medium = 500

// Icons
$social-w = 20px

// Mixins

b(val) //b for bracket
  unquote("[") + val + unquote("]")

// Colors

white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)

grey(alpha)
  rgba(34,34,41,alpha)

// $grey-drk = #3d3538
$grey-drk = #222
$grey-med = #888
$grey-light = #ccc
$grey-lightest = #ddd

$green = #79cc7f
$maroon = #b06071
$yellow = #f9ed82
$blue = #89a5dc

$white = #fcf7f5
$ice = #f0f8ff
$ice-drk = #c4d9e8
$gold = #f4e04e
$gold-drk = #d8bf2e
$teal = #5db2a5
$teal-med = #30877a
$teal-drk = #1c6054
$pink = #c6588a
$pink-med = #a3336b
$pink-drk = #681a45
$tan = #dbc8a3

// Breakpoints

$bp-xxs = 380px
$bp-xs  = 500px
$bp-sm  = 750px
$bp-md  = 920px

// Layout

:root
  @media screen and (max-width: $bp-sm)
    --body-padding: 1em
  @media screen and (min-width: $bp-sm + 1)
    --body-padding: 2em
