/*--------------------------------------------------------------------
* $VARIABLES
--------------------------------------------------------------------*/

// Font Families
$font-family-georgia = Georgia, Times, serif
$font-family-rubik = 'Rubik', Helvetica, Arial, sans-serif

// Font Weights
$font-weight-light = 200
$font-weight-medium = 500
$font-weight-bold = 700

// Icons
$social-w = 20px

// Mixins

b(val) //b for bracket
  unquote("[") + val + unquote("]")

// Colors

white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)

grey(alpha)
  rgba(34,34,41,alpha)

$grey-drk = #1e1619
$grey-med = #847e7a
$grey-light = #c9c3bd
$grey-lightest = #d8d5ce

$white = #eee
$ice = #f0f8ff
$ice-drk = #c4d9e8
$gold = #f4e04e
$gold-drk = #d8bf2e
$teal = #2c8276
$pink = #c6588a
$pink-med = #a3336b
$pink-drk = #681a45
$tan = #dbc8a3

// Breakpoints

$bp-sm = 350px
$bp-md = 600px
$bp-lg = 950px

// Layout

:root
  @media screen and (max-width: $bp-md)
    --body-padding: 1em
  @media screen and (min-width: $bp-md + 1)
    --body-padding: 2em
