/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about

  .hero
    height: 50vh
    max-height: 400px
    display: flex
    justify-content: center
    align-items: center

  .hero-info
    max-width: 600px
    font-size: 120%
    text-align: center
