/*--------------------------------------------------------------------
* $CONTRIBUTE
--------------------------------------------------------------------*/

.contribute

  header
    position: static


  main
    display: grid
    place-content: center

  #content
    width: 100%
    max-width: 600px
    padding: 1em var(--body-padding)

    p, ul
      font-size: 120%

    ul
      margin-left: 1em
      list-style-type: disc
