/*--------------------------------------------------------------------
* $ENTRY INFO
--------------------------------------------------------------------*/

$bp-entry = 800px

.entry
  position: relative
  background-color: var(--gradient)

  &.hero
    --gradient: $pink-med

  &.feature
    --gradient: $teal
    margin: var(--body-padding)
    margin-bottom: calc(var(--body-padding)*2)
    display: none
    
    &.active
      display: flex

    p
      margin-bottom: 1.5em

    &:nth-of-type(2)
      --gradient: darken(steelblue,10)
    &:nth-of-type(3)
      --gradient: $pink-med
    &:nth-of-type(4)
      --gradient: #f65a65
    &:nth-of-type(5)
      --gradient: darken(crimson,10)
    &:nth-of-type(6)
      --gradient: darken(rebeccapurple,10)
    &:nth-of-type(7)
      --gradient: #111
    &:nth-of-type(9)
      --gradient: darken(steelblue,10)

  .entry-info
    padding: var(--body-padding)
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: flex-end

    :last-child
      margin-bottom: 0

    h1 + h2
      margin-top: -10px

  p, blockquote
    text-wrap: pretty

  .meta
    & + p
      margin-top: 1em
    & + .meta
      margin-top: .5em
    &.meta-details > span
      display: inline-block
      &:not(:last-of-type)
        margin-right: .5em
      &:not(:first-of-type):before
        content: '·'
        margin-right: .5em
        display: inline-block
      &.labels > span:not(:last-child)::after
        content: ', '
      &.category,
      &.labels {
        text-transform: capitalize
      }
    &.cast > span:not(:last-child)::after
      content: ', '
    a
      color: inherit
      

  blockquote
    margin-bottom: 1em
    font-style: italic
    &:before
      content: '“'
    &:after
      content: '”'

  .entry-image
    position: absolute
    top: 0
    right: 0
    z-index: 1

    &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      background-image: linear-gradient(var(--gradient-direction), var(--gradient) 1%, transparent 40%),
                        repeating-linear-gradient(to right, black(.1),
                                                            black(.1) 2px,
                                                            black(0) 2px,
                                                            black(0) 4px)

    & > div
      width: 100%
      height: 100%
      position: absolute
      top: 0
      right: 0

    img
      object-fit: cover
      width: 100%
      height: 100%
      display: block
    
      &.right
        object-position: right

      &.left
        object-position: left

      &.top
        object-position: top

      &.bottom
        object-position: bottom

    small
      position: absolute
      bottom: .8em
      right: 1em
      text-shadow: 0 1px 2px black(.9),
                   0 0 4px black(.6),
                   0 0 8px black(.3)
      font-size: 65%
      font-weight: $font-weight-medium

  //- small screens, stacked
  @media screen and (max-width: $bp-entry)
    display: flex
    flex-direction: column-reverse

    &.hero
      margin-bottom: calc(var(--body-padding)*2)

    .entry-info
      width: 100%
      margin-top: -50px
      background-image: linear-gradient(30deg, black(.3) 10%, black(0) 50%)

      .logo
        max-width: 90%

    .entry-image
      width: 100%
      height: 400px
      position: relative
      &:after
        --gradient-direction: to top

      img
        object-position: 50% 50%

      small
        z-index: 100
        bottom: 4em
        font-weight: $font-weight-normal

  //- larger screens, side by side
  @media screen and (min-width: $bp-entry + 1)
    margin-bottom: var(--body-padding)

    &.hero
      height: clamp(600px,87vh,850px)

    &.feature
      height: 65vh
      min-height: 400px
      max-height: 750px

      img
        object-position: 50% 40%

      &.top img
        object-position: 50% 10%

      &.bottom img
        object-position: 50% 80%

    .entry-info
      width: 50%
      height: 100%

      p, blockquote, hr, h2, .meta
        max-width: 500px

    .entry-image
      width: 70%
      height: 100%
      &:after
        --gradient-direction: to right

      small
        bottom: .8em
