/*--------------------------------------------------------------------
* $404 PAGE
--------------------------------------------------------------------*/

.fourohfour

  header
    position: static

  main
    display: grid
    place-content: center
    text-align: center

    h1
      margin: 0
      font-size: 600%
