/*--------------------------------------------------------------------
* $LANDING
--------------------------------------------------------------------*/

.landing

  .hero
    height: 80vh
    min-height: 580px
    display: flex
    justify-content: center
    align-items: center
    background-repeat: repeat-x
    background-image: linear-gradient(to right, black(0) 5%, black(.7) 5%),
                      linear-gradient(to right, black(0) 5%, black(.7) 5%),
                      linear-gradient(to right, black(0) 5%, black(.7) 5%),
                      linear-gradient(to right, black(0) 5%, black(.7) 5%)
    background-size: 250px 130px
    background-position: 0 0, 125px 140px, 40px 280px, 200px 420px

  .hero-info
    max-width: 600px
    font-size: 120%
    text-align: center
