/*--------------------------------------------------------------------
* $LANDING
--------------------------------------------------------------------*/

.landing

  .hero
    height: 75vh
    min-height: 500px
    max-height: 700px
    margin-bottom: calc(var(--body-padding)*1.5)
    position: relative
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden

  .hero-image
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    z-index: 0
    opacity: .7
    filter: blur(1px)

    &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background-image: linear-gradient(to top, black(.9) 0, black(.2) 100%)

    img
      object-fit: cover

  .hero-info
    max-width: 500px
    font-size: 120%
    text-align: center
    z-index: 2
