/*--------------------------------------------------------------------
* $SEARCH
--------------------------------------------------------------------*/

.search

  header
    position: static

  .search-form
    margin: var(--body-padding)
    margin-bottom: calc(var(--body-padding)*2)
    position: relative
    display: flex

  .search-input
    width: 100%
    padding: 1rem
    background-color: transparent
    border: none
    border: 1px solid white(.5)
    font-size: 200%
    color: white

    &:focus
      outline: none
      border-color: white

  .search-submit
    align-self: stretch
    font-size: 150%
    border-top-left-radius: 0
    border-bottom-left-radius: 0

  ul.card-list + div
    display: none

  ul.card-list:empty + div
    display: block
    font-size: 140%
    text-align: center
