/*--------------------------------------------------------------------
* $SEARCH
--------------------------------------------------------------------*/

.search

  header
    position: static

  main
    min-height: 84vh

  .search-container
    margin: var(--body-padding)
    margin-bottom: calc(var(--body-padding)*2)
    position: relative
    display: block

  .search-label
    margin-bottom: .5em
    display: block
    width: 100%
    font-weight: $font-weight-medium
    font-size: 120%

  .search-help
    margin-top: .5em
    display: block
    text-align: center

  .search-flex
    display: flex

  .search-input
    width: 100%
    padding: 1rem
    padding-right: 0
    background-color: transparent
    border: none
    border: 1px solid white(.5)
    font-size: 200%
    color: white

    @media screen and (max-width: 500px)
      font-size: 100%

    &:focus
      outline: none
      border-color: white

  .search-submit
    align-self: stretch
    font-size: 150%
    border-top-left-radius: 0
    border-bottom-left-radius: 0

    @media screen and (max-width: 500px)
      font-size: 100%
      padding: 1rem

  noscript
    margin-bottom: 2em
    padding: 1em
    display: inline-block
    border: 1px solid white

    p
      margin-bottom: 0
