/*--------------------------------------------------------------------
*
* Nestflix
*
--------------------------------------------------------------------*/

@import 'globals/_variables'
@import 'globals/_reset'

@import 'components/base'
@import 'components/type'
@import 'components/buttons'
@import 'components/nav'
@import 'components/footer'

@import 'components/entry'
@import 'components/card-list'

@import 'pages/landing'
@import 'pages/category'
@import 'pages/search'
@import 'pages/contribute'
@import 'pages/fourohfour'
