---
slug: "69-70"
title: "69/70"
featuredTitle: "69/70"
description: "Filmmaker Paul Ballard stitches together things from his life and attempts to make some connections, some sense of things."
quote: "I’m trying to find what’s real, what’s honest."
parent: "CQ"
parentYear: "2001"
rating: "PG-13"
runtime: "1h 54m"
director: "Paul Ballard"
labels: "documentary"
credit: "MGM Studios"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - documentaries
---
