---
slug: "a-russian-affair"
title: "A Russian Affair"
featuredTitle: "A Russian Affair"
description: "Our hero has been captured by the Russians and tortured for secret intelligence. Will his daring plan for escape work?"
quote: "I won’t talk! I won’t say a word!"
parent: "The Artist"
parentYear: "2011"
rating: "PG"
runtime: "57m"
starring: "George Valentin, Constance Gray, Jack the dog"
director: "Otto Wagman"
studio: "Kinograph Studios"
labels: "adventure, espionage"
credit: "Warner Bros. Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - spy movies
---
