extends _includes/skeleton

block vars 
    - var title = "Action & Thrills on";
    - var description = "Action and thrilling films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Hamlet')
        +entry-img('Sand Pirates of the Sahara')
        +entry-img('McBain')
        +entry-img('X Marks the Murder Spot')
        +entry-img('Robofrog')
        .info
            h1 Action & Thrills on Nestflix

    span#content

    - var tags = ['action movies', 'action adventure movies', 'dystopian action movies', 'action sci-fi films', 'action tv', 'spy movies', 'westerns', 'babies in action', 'thrillers' ];

    +cards(0,1)
    +feature('Los Dias y Las Noches de Monsigñor Martinez')
    +cards(1,4)
    +feature('The Lucas Lee Collection')
    +cards(4,7)
    +feature('McBain')
    +cards(7,11)
