extends _includes/skeleton

block vars 
    - var title = "Adult Content on Nestflix";
    - var description = "Adult films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('The Farmer’s Daughters')
        +entry-img('Feral Pleasures')
        +entry-img('Buffay the Vampire Layer')
        +entry-img('How Do You Like My Car, Big Boy?')
        +entry-img('Brock Landers: Angels Live in My Town')
        .info
            h1 Adults on Nestflix

    span#content

    - var tags = ['adults 18+' ];

    +cards(0,1)
    +feature('Orgazmo')
