extends _includes/skeleton

block vars 
    - var title = "Adult Content on Nestflix";
    - var description = "Adult films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards

block content
    section.category.hero
        div.hero-info
            div
                h1 Adults on Nestflix
                p Lorem ipsum

    span#content

    - var tags = ['adults 18+' ];

    +cards(0,1)
    +feature('Orgazmo')
