---
slug: "all-my-circuits"
title: "All My Circuits"
featuredTitle: "All My Circuits"
description: "The saga of Calculon, his love Monique, and his evil half brother Boxy Robot. Betrayal, plane crashes, inoperable cancer, multiple personalities, and so much amnesia!"
quote: "Let me get this straight. Does anyone here not have amensia?"
parent: "Futurama"
parentYear: "1999-2013"
rating: "TV-14"
runtime: "10 seasons"
starring: "Calculon, Monique, Boxy Robot"
labels: "soap opera, romance"
credit: "20th Century Fox Television"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - soap operas
---
