extends _includes/skeleton

block vars 
    - var title = "Amateur Creators on Nestflix";
    - var description = "Amateur films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('The Case')
        +entry-img('The Brigsby Movie I Made with My Friends')
        +entry-img('Shut Up and Listen')
        +entry-img('Threat Level Midnight')
        +entry-img('A Film by Kirk')
        .info
            h1 Amateur Creators on Nestflix

    span#content

    - var tags = ['amateur filmmakers', 'web shows', 'public-access talk shows' ];

    +cards(0,1)
    +feature('Chief Starr and the Raiders of the Galaxy')
    +cards(1,3)
