---
slug: "amistad-ii"
title: "Amistad II"
featuredTitle: "Amistad II"
description: "The largest ship the world had ever known. Its 400 passengers and crew on a maiden voyage to a brave new world. A journey that would change their lives forever."
quote: "I’m the king of the world!"
parent: "Scary Movie"
parentYear: "2000"
rating: "R"
runtime: "2h 41m"
starring: "Keenen Ivory Wayans, Lee R. Mayes, Mark Hoeppner"
credit: "Dimension Films"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - history
---
