---
slug: "ancient-aliens-at-thanksgiving"
title: "Ancient Aliens at Thanksgiving"
featuredTitle: "Ancient Aliens at Thanksgiving"
description: "A 3-part special. New evidence suggests that the first exchanging of food between the Pilgrims and Native Americans may have been visited by aliens."
quote: "In every journal entry we researched from those early Pilgirms, not one entry mentions aliens not being there."
parent: "South Park"
parentYear: "1997-Present"
rating: "TV-PG"
runtime: "3h"
starring: "Duncan Everton, Charles Biggens, Kyle Broflovski, Stan Marsh"
studio: "The History Channel"
labels: "documentary"
credit: "Comedy Central"
layout: movie.pug
stills: true
tags:
    - entry
    - tv special
    - documentaries
---
