---
slug: "angels-with-even-filthier-souls"
title: "Angels with Even Filthier Souls"
featuredTitle: "Angels with Even Filthier Souls"
description: "In the sequel to Angels with Filthy Souls, Christmas is ruined as mob boss Johnny suspects his dame of smooching his brother... and everybody else."
quote: "I believe you but my tommy gun don’t."
parent: "Home Alone 2: Lost in New York"
parentYear: "1992"
rating: "R"
runtime: "1h 36m"
starring: "Ralph Foody, Clare Hoak"
credit: "20th Century Fox"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - gangster
---
