---
title: "Angels with Even Filthier Souls"
featuredTitle: "Angels with Even Filthier Souls"
description: "In the sequel to Angels with Filthy Souls, Christmas is ruined as mob boss Johnny suspects his dame of smooching his brother... and everybody else."
quote: "I believe you but my tommy gun don’t."
parent: "Home Alone 2: Lost in New York"
parentYear: "1992"
rating: "R"
runtime: "1h 36m"
starring: "Ralph Foody, Clare Hoak"
studio: "20th Century Fox"
layout: movie.pug
image: /img/angels-with-even-filthier-souls.jpg
thumb: /img/angels-with-even-filthier-souls-thumb.jpg
still1: /img/angels-with-even-filthier-souls-still1.jpg
still2: /img/angels-with-even-filthier-souls-still2.jpg
still3: /img/angels-with-even-filthier-souls-still3.jpg
still4: /img/angels-with-even-filthier-souls-still4.jpg
tags:
    - movie
    - gangster
---
