---
slug: "animal-instincts"
title: "Animal Instincts"
featuredTitle: "Animal Instincts"
description: "In a world where you don’t know who to trust, go with your animal instincts. Sarah Marshall returns to television as a crime-solving animal psychic."
quote: "Life’s a bitch."
parent: "Forgetting Sarah Marshall"
parentYear: "2008"
rating: "TV-14"
runtime: "1 season"
studio: "NBC"
starring: "Sarah Marshall, Jason Bateman"
credit: "Universal Pictures"
layout: movie.pug
stills: true
tags:
    - tv series
    - crime
---
