---
slug: "aquaman"
title: "Aquaman"
featuredTitle: "Aquaman"
description: "Arthur Curry exists between worlds, but must protect both the land and the underwater city of Atlantis."
parent: "Entourage"
parentYear: "2004-2011"
rating: "PG-13"
runtime: "2h 8m"
starring: "Vincent Chase, Mandy Moore, James Woods, Ray Liotta, Sharon Stone "
director: "James Cameron"
studio: "Warner Bros. Pictures"
labels: "action, superhero"
credit: "HBO Entertainment"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - superhero movies
---
