---
slug: "austinpussy"
title: "Austinpussy"
featuredTitle: "Austinpussy"
description: "The grooviest filmmaker in the history of cinema takes on Austin Powers, international man of mystery. This shagadelic biopic features run-ins with Dixie Normous, Dr. Evil and Mini Me, and the infamous Goldmember."
quote: "Shall we shag now or shag later?"
parent: "Austin Powers in Goldmember"
parentYear: "2002"
rating: "PG-13"
runtime: "1h 46m"
starring: "Tom Cruise, Gwyneth Paltrow, Kevin Spacy, Danny DeVito, John Travolta"
director: "Steven Spielberg"
credit: "New Line Cinema"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - espionage
---
