---
slug: "ball-fondlers"
title: "Ball Fondlers"
featuredTitle: "Ball Fondlers"
description: "This team of Special Forces mercenaries are on the mission."
parent: "Rick and Morty"
parentYear: "2013-Present"
rating: "TV-MA"
runtime: "5 seasons"
studio: "Interdimensional Cable"
labels: "action"
credit: "Warner Bros. Television"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - action tv
---
