---
slug: "bolt"
title: "Bolt"
featuredTitle: "Bolt"
description: "Bolt is stronger, faster, and more powerful, unlike any other dog. He and Penny are on the mission."
quote: "Bolt! Zoom, zoom!"
parent: "Bolt"
parentYear: "2008"
rating: "TV-G"
runtime: "4 seasons"
starring: "Bolt, Penny"
studio: "Sovereign Entertainment"
credit: "Walt Disney Animation Studios"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - action
---
