---
slug: "born-in-a-trunk"
title: "Born in a Trunk"
featuredTitle: "Born in a Trunk"
description: "The story of a girl born in a trunk at the Princess Theatre in Pocatello, Idaho who works her whole life to become a star."
quote: "So I can’t quite be called overnight sensation for it started many years ago."
parent: "A Star is Born"
parentYear: "1954"
rating: "PG"
runtime: "2h 45m"
starring: "Vicki Lester"
credit: "Warner Bros. Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - musical
---
