---
slug: "brain-eaters-from-outer-space"
title: "Brain Eaters From Outer Space"
featuredTitle: "Brain Eaters From Outer Space"
description: "They’ve arrived and they’re hungry!"
quote: "Earth woman, I will eat your brains!"
parent: "Animaniacs"
parentYear: "1993-1998"
rating: "PG-13"
runtime: "2h 13m"
labels: "sci-fi, horror"
credit: "Warner Bros. Television"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - sci-fi films
---
