extends _includes/skeleton

block vars 
    - var title = "British TV on";
    - var description = "British shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Inspector Spacetime')
        +entry-img('The Nests of Netherfield')
        +entry-img('When the Whistle Blows')
        +entry-img('Highcastle Abbey')
        +entry-img('Buckle Your Shoes')
        .info
            h1 British TV on Nestflix

    span#content

    - var tags = ['british tv' ];

    +cards(0,1)
    +feature('A Sensible Migration')(class='feature-1')
    +feature('Inspector Spacetime')(class='feature-2 top')
    +feature('The Nests of Netherfield')(class='feature-3')
