extends _includes/skeleton

block vars 
    - var title = "British TV on Nestflix";
    - var description = "British shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards

block content
    section.category.hero
        div.hero-info
            div
                h1 British TV on Nestflix
                p Lorem ipsum

    span#content

    - var tags = ['british tv' ];

    +cards(0,1)
    +feature('Inspector Spacetime')
