---
slug: "buffay-the-vampire-layer"
title: "Buffay the Vampire Layer"
featuredTitle: "Buffay the Vampire Layer"
description: "Before Sex Toy Story 2, Lawrence of a Labia, and Inspect Her Gadget, Phoebe Buffay took on Nosferatool in the Vampire Layer. "
quote: "Buffay, are you going to plunge your stake into my dark places?"
parent: "Friends"
parentYear: "1994-2004"
rating: "Unrated"
runtime: "46m"
starring: "Phoebe Buffay"
labels: "adult"
credit: "Warner Bros. Television"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - adult films
---
