---
slug: "climbing-for-dollars"
title: "Climbing for dollars"
featuredTitle: "Climbing for Dollars"
description: "Climb the rope to reach the bag of money... if you can!"
parent: "The Running Man"
parentYear: "1987"
rating: "TV-MA"
runtime: "2 seasons"
studio: "ICS"
labels: "reality, game show"
credit: "TriStar Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - game shows
---
