---
slug: "co-ed-frenzy"
title: "Co-ed Frenzy"
featuredTitle: "Co-ed Frenzy"
description: "A serial killer terrorizes university students in their co-ed dormitories."
parent: "Blow Out"
parentYear: "1981"
rating: "R"
runtime: "2h 12m"
labels: "horror, slasher"
credit: "Filmways Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - slasher flicks
---
