---
slug: "codename-dragonfly"
title: "Codename: Dragonfly"
featuredTitle: "Codename: Dragonfly"
description: "Paris. 2001. Secret agent Dragonfly is on assignment from the World Council to stop revolutionary leader Mr. E, currently based on the far-out side of the Moon."
quote: "Nice try, Dragonfly."
parent: "CQ"
parentYear: "2001"
rating: "PG-13"
runtime: "2h 25m"
starring: "Valentine"
director: "Andrezej, Paul Ballard"
studio: "Enzo Di Martini Productions"
labels: "sci-fi"
credit: "MGM Studios"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - sci-fi films
---
