extends _includes/skeleton

block vars 
    - var title = "Comedy";
    - var description = "Funny films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('The Tracy Jordan Collection')
        +entry-img('Ow! My Balls!')
        +entry-img('The George Simmons Collection')
        +entry-img('Where Are My Pants?')
        +entry-img('Gout Lovers')
        .info
            h1 Comedy on Nestflix

    span#content

    - var tags = ['comedies', 'romantic comedies', 'comedy tv', 'sitcoms', 'family sitcoms', ];

    +cards(0,2)
    +feature('TGS with Tracy Jordan')(class='feature-1')
    +feature('Mr. Peanutbutter’s House')(class='feature-2 top')
    +feature('Melf')(class='feature-3')
    +cards(2,4)
    +feature('The Fatties: Fart 2')(class='feature-1')
    +feature('Duhpocalypse!')(class='feature-2 top')
    +feature('Johnny Chimpo')(class='feature-3 top')
    +cards(4,5)
