extends _includes/skeleton

block vars 
    - var path = "contribute";
    - var title = "Contribute";
    - var description = "Suggest new titles to add to Nestflix";
    - var bodyClass = "contribute";

block content
    section#content
        h1 Contribute to Nestflix
        p Is your fave nested film or show missing from this site?
        .callout
            h2 🛑 Before submitting 🛑
            p 1. Please first #[a(href='/search') search] to see if it is already on the site.
            p 2. Check if your submission meets the criteria:
            ul
                li
                    strong Must be fictional
                    p.mb1 e.g. <em>Days of Our Lives</em> from <em>Friends</em> is a real soap opera so it does not qualify.
                li
                    strong Must show actual footage
                    p.mb1 e.g. <em>Rochelle Rochelle</em> from <em>Seinfeld</em> is only mentioned in dialogue and seen on a poster so it does not quality.
                li
                    strong Not from a comedy sketch show
                    p.mb1 e.g. <em>Coffin Flop</em> from <em>I Think You Should Leave</em> does not qualify, sorry!
                li
                    strong Not a stage play or musical
                    p.mb1 e.g. <em>Rogers: The Musical</em> from <em>Hawkeye</em> is a stage musical so it does not qualify.
                li
                    strong Not a film/show from a video game
                li
                    strong Not a news or morning show
        p If you have one to add, please #[a(href='https://github.com/lynnandtonic/nestflix.fun/issues') create an issue on GitHub] or fill out this handy form:

        form(name='Submissions' method='POST' netlify-honeypot='bot-field' data-netlify='true' action='/thanks')

            h2 Submit a title

            label Your Name:
            input(type='text' name='name')

            label.required Your Email:
            input(type='email' name='email' required)

            label.required Title to be added:
            input(type='text' name='title' required)

            label Type:
            div
                input(type='radio' id='film' name='type' value='film')
                label(for='film') film
                input(type='radio' id='tv-show' name='type' value='tv show')
                label(for='tv-show') tv show

            label.required Film or show in which it appears:
            input(type='text' name='parent' required)

            label Is the parent film/show streaming anywhere?
            input(type='text' name='streaming')

            label About when in the parent film/show does it appear?
            input(type='text' name='timestamp')

            label Actual footage of the film/show can be seen?
            div
                input(type='checkbox' id='footage' value='yes')
                label(for='footage') Yes

            label.hidden Don’t fill this out if you’re human: 
            input.hidden(name='bot-field')

            button.secondary(type='submit') Submit

        p Thank you! 🌈
