extends _includes/skeleton

block vars 
    - var title = "Contribute";
    - var description = "Suggest new titles to add to Nestflix";
    - var bodyClass = "contribute";

block content
    section#content
        h1 Contribute to Nestflix
        p Nestflix is a wiki dressed up as a streaming platform that catalogs fictional films and tv shows inside real movies and tv shows.
        p Is your fave nested film or show missing from this site?

        p You might be wondering where is #[em Rochelle, Rochelle] from #[em Seinfeld]? Or #[em Coming Home in a Body Bag] from #[em True Romance]? Both iconic in their own way.
        p Here’s the criteria for what gets added:
        ul
            li #[strong Must be fictional] (not characters watching a real film, not a recreation of a real film)
            li #[strong Must show actual footage] (not just mentioned in dialogue or seen in a poster)
            li #[strong Not a news or morning show] (for now, this might change)
        p If you have one to add, please #[a(href='https://github.com/lynnandtonic/nestflix.fun/issues') create an issue on GitHub] or fill out this handy form:

        form(name='Submissions' method='POST' netlify-honeypot='bot-field' data-netlify='true' action='/thanks')

            h2 Submit a title

            label Your Name:
            input(type='text' name='name')

            label.required Your Email:
            input(type='email' name='email' required)

            label.required Title to be added:
            input(type='text' name='title' required)

            label Type:
            div
                input(type='radio' id='film' name='type' value='film')
                label(for='film') film
                input(type='radio' id='tv-show' name='type' value='tv show')
                label(for='tv-show') tv show

            label.required Film or show in which it appears:
            input(type='text' name='parent' required)

            label Is the parent film/show streaming anywhere?
            input(type='text' name='streaming')

            label About when in the parent film/show does it appear?
            input(type='text' name='timestamp')

            label Actual footage of the film/show can be seen?
            div
                input(type='checkbox' id='footage' value='yes')
                label(for='footage') Yes

            label.hidden Don’t fill this out if you’re human: 
            input.hidden(name='bot-field')

            button.secondary(type='submit') Submit

        p Thank you! 🌈
