extends _includes/skeleton

block vars 
    - var title = "Crime on";
    - var description = "Crime films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Brazzos')
        +entry-img('The Finder Outer')
        +entry-img('Pam’s Court')
        +entry-img('Black & White: Impossible Crimes Unit')
        +entry-img('Big Shot')
        .info
            h1 Crime on Nestflix

    span#content

    - var tags = ['crime shows', 'buddy cops', 'criminal justice reality tv' ];

    +cards(0,1)
    +feature('Crime Scene: Scene of the Crime')
    +cards(1,3)
