---
slug: "dawn-of-the-seven"
title: "Dawn of the Seven"
featuredTitle: "Dawn of the Seven"
description: "When the world needed a hero, The Seven answered the call."
quote: "Girls get it done."
parent: "The Boys"
parentYear: "2019-Present"
rating: "PG-13"
runtime: "2h 46m"
starring: "Homelander, A-Train, The Deep, Black Noir, Queen Maeve, Starlight, Stormfront, Lovina Yavari, Greg Grunberg"
director: "Adam Bourke"
studio: "Vought Studios"
labels: "action, superhero"
credit: "Amazon Studios"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action movies
---
