---
slug: "dereca-set-me-straight"
title: "Dereca: Set Me Straight"
featuredTitle: "Dereca: Set Me Straight"
description: "She’s been an author, psychic, Yelp reviewer, bus driver, former Yelp reviewer who got banned for using too many obscenities in a review for a children’s theatre, and a reader of half of one of Iyanla Vanzant’s books. She’s done the work and will help you do yours."
quote: "What we need now is a man. That’s what the ladies want, and that’s what the mama in your heart wants."
parent: "Dear White People"
parentYear: "2017-Present"
rating: "TV-MA"
runtime: "3 seasons"
starring: "Dereca"
labels: "reality"
credit: "Netflix"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - reality tv
---
