---
slug: "fake-purse-ninjas"
title: "Fake Purse Ninjas"
featuredTitle: "Fake Purse Ninjas"
description: "The corrupt knock-off handbag industry is thriving in Taiwan but is still no match for the Fake Purse Ninjas."
parent: "Bowfinger"
parentYear: "1999"
rating: "PG-13"
runtime: "1h 54m"
starring: "Jiff Ramsey, Bobby Bowfinger, Daisy, Carol, Afrim, Slater"
director: "Bobby Bowfinger"
labels: "action, martial arts"
credit: "Universal Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action movies
---
