---
slug: "fondue-for-two"
title: "Fondue for Two"
featuredTitle: "Fondue for Two"
description: "Fondue for Two (and its spinoff Queso por Dos) combines two things Brittany likes most: hot cheese and talking to people."
quote: "Lord Tubbington is allowed to eat cheese because he’s on Atkins."
parent: "Glee"
parentYear: "2009-2015"
rating: "Unrated"
runtime: "7 episodes"
starring: "Brittany S. Pierce, Lord Tubbington"
labels: "talk show"
credit: "20th Century Fox Television"
layout: movie.pug
stills: true
tags:
    - entry
    - web series
    - talk shows
---
