---
slug: "galaxy-quest"
title: "Galaxy Quest"
featuredTitle: "Galaxy Quest"
description: "The space adventures of Commander Peter Quincy Taggart and the crew of the NSEA Protector. They never give up and they never surrender."
quote: "By Grabthar’s hammer, you shall be avenged."
parent: "Galaxy Quest"
parentYear: "1999"
rating: "TV-G"
runtime: "4 seasons"
starring: "Jason Nesmith, Gwen DeMarco, Alexander Dane, Fred Kwan, Tommy Webber, Guy Fleegman"
credit: "DreamWorks Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - sci-fi
---
