extends _includes/skeleton

block vars 
    - var title = "Game Shows";
    - var description = "Game shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Wheel of Fish')
        +entry-img('Family Fracas')
        +entry-img('Pay as You Go!')
        +entry-img('Up Your Ante!')
        +entry-img('Can’t Stop the Quiz')
        .info
            h1 Game Shows on Nestflix

    span#content

    - var tags = ['game shows', 'game shows with a bit of danger!', 'reality competition shows' ];

    +cards(0,1)
    +feature('The Running Man')(class='feature-1')
    +feature('Treasure Chest')(class='feature-2')
    +feature('Balance of Power')(class='feature-3 top')
    +cards(1,3)
