---
slug: "gandhi-ii"
title: "Gandhi II"
featuredTitle: "Gandhi II"
description: "Gandhi’s back and this time he’s mad. No more Mr. Passive Resistance."
quote: "Gimme a steak, medium rare."
parent: "UHF"
parentYear: "1989"
rating: "PG-13"
runtime: "1h 36m"
starring: "Jay Levey"
studio: "Channel 62"
credit: "Orion Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action
---
