---
slug: "garden-tool-massacre"
title: "Garden Tool Massacre"
featuredTitle: "Garden Tool Massacre"
description: "Your basic slice-and-dice. This guy in a hockey mask, he chops up a few teenagers."
quote: "Wait a minute. Hockey season ended months ago."
parent: "The Blob"
parentYear: "1988"
rating: "R"
runtime: "2h 19m"
starring: "Charlie Spradling, Kristen Aldrich"
credit: "   TriStar Pictures"
layout: movie.pug
tags:
    - entry
    - movie
    - horror
---
