---
slug: "gay-as-blazes"
title: "Gay as Blazes"
featuredTitle: "Gay as Blazes"
description: "Gay as Blazes follows the lives of five gay friends."
quote: "Hopefully one day he’ll come to his senses and realize his time could be spent in so many more productive ways, like joining our gay men’s reading group."
parent: "Queer as Folk"
parentYear: "2000-2005"
rating: "TV-MA"
runtime: "1 season"
labels: "drama"
credit: "Warner Bros. Domestic Television"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - tv dramas
---
