---
slug: "good-will-hunting-2"
title: "Good Will Hunting 2: Hunting Season"
featuredTitle: "Good Will Hunting 2: Hunting Season"
description: "Will and Chuckie return to their Boston stomping grounds and they don’t like the sound of them apples. Clark better watch his back. It’s hunting season."
quote: "You're just no longer that good--Will Hunting."
parent: "Jay and Silent Bob Strike Back"
parentYear: "2001"
rating: "R"
runtime: "1h 43m"
starring: "Matt Damon, Ben Affleck, Scott William Winters"
director: "Gus Van Sant"
labels: "drama"
credit: "Miramax Films"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - dramas
---
