---
slug: "habeas-corpus"
title: "Habeas Corpus"
featuredTitle: "Habeas Corpus"
description: "Marsha Kent is on trial for the murder of her husband. District Attorney Dave Williams, fed up with systemic injustice, pushes for the death penalty."
quote: "What took you so long?” “Traffic was a bitch."
parent: "The Player"
parentYear: "1992"
rating: "R"
runtime: "2h 6m"
starring: "Julia Roberts, Bruce Willis, Susan Sarandon, Peter Falk"
credit: "Fine Line Features"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - drama
---
