---
slug: "hawk-and-chick-vs-cephalopod-monster"
title: "Hawk and Chick vs Cephalopod Monster"
featuredTitle: "Hawk and Chick vs Cephalopod Monster"
description: "Hawk and Chick fight the Cephalopod Monster! Director’s cut of the film features lost footage of Itsuki Sugimoto."
parent: "Bob’s Burgers"
parentYear: "2011-Present"
rating: "PG"
runtime: "1h 54m"
starring: "Shinji Kojima, Yuki Kojima, Itsuki Sugimoto"
labels: "action, martial arts"
credit: "Disney-ABC Domestic Television"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action movies
---
