---
slug: "hawk-and-chick-vs-seaweed-monster"
title: "Hawk and Chick vs Seaweed Monster"
featuredTitle: "Hawk and Chick vs Seaweed Monster"
description: "It was a time in Japan when evil monsters would attack nice little villages for no good reason and the only force in all of Japan who can stop them: Hawk and Chick!"
parent: "Bob’s Burgers"
parentYear: "2011-Present"
rating: "PG"
runtime: "1h 38m"
starring: "Shinji Kojima, Yuki Kojima"
labels: "action, martial arts"
credit: "Disney-ABC Domestic Television"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action movies
---
