---
slug: "hill-400"
title: "Hill 400"
featuredTitle: "Hill 400"
description: "The story of a father and son fighting for Allied forces during World War II."
parent: "This Is Us"
parentYear: "2016-Present"
rating: "PG-13"
runtime: "2h 31m"
starring: "Sylvester Stallone, Kevin Pearson"
director: "Ron Howard"
studio: "Twentieth Century Fox"
labels: "drama, war"
credit: "Disney-ABC Domestic Television"
layout: movie.pug
tags:
    - entry
    - movie
    - war movies
---
