extends _includes/skeleton

block vars 
    - var title = "Holidays & Religion";
    - var description = "Holiday and religious films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Snowflake Jake Saves Snowflake Day')
        +entry-img('Cosmic Wars: Holiday Special')
        +entry-img('The New Adventures of Gravey and Jobriath')
        +entry-img('Tales of the Old Testament')
        +entry-img('KISS Saves Santa')
        .info
            h1 Holidays & Religion on Nestflix

    span#content

    - var tags = ['for the holidays', 'religious programming' ];

    +cards(0,1)
    +feature('Scrooge')(class='feature-1')
    +feature('Cosmic Wars: Holiday Special')(class='feature-2')
    +feature('The New Adventures of Gravey and Jobriath')(class='feature-3')
    +cards(1,2)
