---
slug: "home-for-purim"
title: "Home for Purim"
featuredTitle: "Home for Purim"
description: "In the 1940’s south, the Pischer family gathers to celebrate Purim. Young Rachel, worried about her dying mother, is nervous to introduce her girlfriend to the family. Alternate title: ‘Home for Thanksgiving’"
quote: "I didn’t wanna be in a kitchen with the brisket or the fish balls or the kreplach or the kugel."
parent: "For Your Consideration"
parentYear: "2006"
rating: "PG-13"
runtime: "2h 32m"
starring: "Marilyn Hack, Victor Allan Miller, Brian Chubb, Callie Webb, Debbie Gilchrist"
director: "Jay Berman"
labels: "drama"
credit: "Warner Independent Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - dramas
---
