extends _includes/skeleton

block vars 
    - var title = "Horror on";
    - var description = "Frightening films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Terror Within')
        +entry-img('The Careful Massacre of the Bourgeoisie')
        +entry-img('The Puritan II')
        +entry-img('Chucky Goes Psycho')
        +entry-img('Mant!')
        .info
            h1 Horror on Nestflix

    span#content

    - var tags = ['horror movies', 'slasher flicks', 'monster movies', 'paranormal investigation', 'aliens attack' ];

    +cards(0,1)
    +feature('Stab')(class='feature-1')
    +feature('Mant!')(class='feature-2')
    +feature('The Bloodening')(class='feature-3')
    +cards(1,3)
    +feature('Joelho-Alto Prejuizo Moral')(class='feature-1')
    +feature('Screech Leeches')(class='feature-2')
    +feature('Camp Bloodbath')(class='feature-3')
    +cards(3,5)
