---
slug: "how-did-i-get-here"
title: "How Did I Get Here?"
featuredTitle: "How Did I Get Here?"
description: "The only show that makes you ask “How Did I Get Here?”"
quote: "Oh! Oh my goodness! How did I get here? HELLO!?"
parent: "Rick and Morty"
parentYear: "2013-Present"
rating: "TV-G"
runtime: "1 season"
studio: "Interdimensional Cable"
labels: "game show"
credit: "Warner Bros. Television"
layout: movie.pug
tags:
    - entry
    - tv series
    - game shows
---
