---
slug: "hyde"
title: "Hyde"
featuredTitle: "Hyde"
description: "A modern take on Dr. Jekyll and Mr. Hyde, set in the underground party scene in a dystopian future."
quote: "Sadly, all good parties must come to an end."
parent: "Entourage"
parentYear: "2015"
rating: "R"
runtime: "2h 36m"
starring: "Vincent Chase, Johnny Chase"
director: "Vincent Chase"
studio: "Hillside Avenue Productions"
labels: "sci-fi"
credit: "Warner Bros. Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - sci-fi films
---
