---
title: Movie Title
description: Description text lorem ipsum dolor sit amet lorpem ispum dolor sit amet lorem ipsum.
betterName1: Some other meta info maybe
layout: movie.pug
image: https://placekitten.com/600/400
tallImage: https://placekitten.com/200/300
shortImage: https://placekitten.com/200/100
featuredTitle: "Test Movie #2"
tags:
    - drama
    - some other category
---
