extends _includes/skeleton

block vars 
    - var title = "Nestflix";
    - var description = "A platform for fictional films and shows within other films and shows.";
    - var bodyClass = "landing";

include _includes/mixin-feature
include _includes/mixin-cards

block content
    section.hero
        div.hero-info
            div
                h1 Welcome to Nestflix
                p The platform for your favorite nested films and shows.
                p Fictional movies within movies? Got ‘em. Fake shows within shows? You bet. Browse our selection of over 1,100 stories within stories.
        div.hero-image
            img(src='/img/_header/header-bg.jpg' alt='visual spread of titles')
            //- img.hero-image(src='/img/nestflix-thumb.jpg' alt='')

    span#content

    - var tags = ['popular right now']

    - var extraTags = ['new on nestflix'];

    each tag in extraTags.slice(0,1)
        section.list.short
            h2 !{tag}
            ul.card-list.thumbs
                each entry in collections[tag]
                    li
                        a(href=entry.data.page.url)
                            img(src='/img/' + entry.data.slug + '-thumb.jpg', alt=entry.data.title)

    +cards(0,2)

    +feature('Angels with Filthy Souls')(class='feature-1')
    +feature('Simple Jack')(class='feature-2')
    +feature('Sunrise Bay')(class='feature-3')
