extends _includes/skeleton

block vars 
    - var title = "Nestflix";
    - var description = "A platform for fictional films and shows within other films and shows.";
    - var bodyClass = "landing";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-category-img

block content
    section.hero
        div.hero-info
            div
                h1 Welcome to Nestflix
                p The platform for your favorite nested films and shows.
                p Fictional movies within movies? Got ‘em. Fake shows within shows? You bet. Browse our selection of over 1,000 stories within stories.
        div.hero-image
            img(src='/img/_header/header-bg.jpg' alt='visual spread of titles')
            //- img.hero-image(src='/img/nestflix-thumb.jpg' alt='')

    span#content

    - var tags = ['popular right now']

    - var extraTags = ['new on nestflix'];

    each tag in extraTags.slice(0,1)
        section.list.short
            h2 !{tag}
            ul.card-list.thumbs
                each entry in collections[tag]
                    li
                        a(href=entry.data.page.url)
                            img(src='/img/' + entry.data.slug + '-thumb.jpg', alt=entry.data.title)

    +cards(0,2)

    +feature('Angels with Filthy Souls')

    section.list.short
        h2#categories Browse categories
        ul.card-list.thumbs.categories
            li: a(href="/comedy")
                +category-img('The Tracy Jordan Collection')
                span Comedy
            li: a(href="/drama")
                +category-img('Satan’s Alley')
                span Drama
            li: a(href="/kids-family")
                +category-img('Kakie the Cake Monster')
                span Kids & Family
            li: a(href="/action-thrills")
                +category-img('The Lucas Lee Collection')
                span Action & Thrills
            li: a(href="/sci-fi")
                +category-img('Codename: Dragonfly')
                span Sci-Fi
            li: a(href="/horror")
                +category-img('The Puritan II')
                span Horror
            li: a(href="/reality-documentary")
                +category-img('Repo Divorcées')
                span Reality & Documentary
            li: a(href="/western-classics")
                +category-img('Bounty Law')
                span Westerns & Classics
            li: a(href="/superheroes")
                +category-img('Dawn of the Seven')
                span Superheroes
            li: a(href="/game-shows")
                span Game Shows
                +category-img('Wheel of Fish')
            li: a(href="/talk-shows")
                +category-img('Night Owls with Jack Delroy')
                span Talk Shows
            li: a(href="/holidays-religion")
                +category-img('Scrooge')
                span Holidays & Religion
            li: a(href="/crime")
                +category-img('The Finder Outer')
                span Crime
            li: a(href="/romance")
                +category-img('Special Someone')
                span Romance
            li: a(href="/soaps-telenovelas")
                +category-img('Nurse Norton’s Affair')
                span Soaps & Telenovelas
            li: a(href="/amateur-creators")
                +category-img('Greg Gaines and Earl Jackson Collection')
                span Amateur Creators
            li: a(href="/music")
                +category-img('Mother')
                span Music
            li: a(href="/sports")
                +category-img('Supreme Extreme Champions')
                span Sports
            li: a(href="/adults")
                +category-img('The Farmer’s Daughters')
                span Adults 18+
            li: a(href="/british-tv")
                +category-img('The Nests of Netherfield')
                span British TV
