---
slug: "iron-cook"
title: "Iron Cook"
featuredTitle: "Iron Cook"
description: "Chefs prepare dishes with a mystery ingredient for a panel of celebrity judges, competing for the title of Iron Cook."
quote: "The challenger’s ugly food has shown us that even hideous things can be sweet on the inside."
parent: "Futurama"
parentYear: "1999-2013"
rating: "TV-PG"
runtime: "8 seasons"
starring: "Chairman Koji, Hiroki, Aki, Ethan “Bubblegum” Tate, Morbo the Annihilator, Martha Stewart’s head"
labels: "reality, cooking"
credit: "20th Century Fox Television"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - reality tv
---
