---
slug: "its-not-my-problem"
title: "It’s Not My Problem!"
featuredTitle: "It’s Not My Problem!"
description: "Bixby Snyder will have you rolling on the floor with laughter."
quote: "I’d buy THAT for a dollar!"
parent: "RoboCop"
parentYear: "1987"
rating: "TV-MA"
runtime: "2h 4m"
starring: "Bixby Snyder"
credit: "Orion Pictures"
layout: movie.pug
tags:
    - entry
    - tv series
    - variety
---
