---
slug: "jack-slater-iv"
title: "Jack Slater IV"
featuredTitle: "Jack Slater IV"
description: "Tony Vivaldi and the Torelli mob are joining forces to control all drugs in Southern California and they just got Slater’s favorite cousin Frankie involved."
quote: "Do you want 60 guys dancing on the lawn throwing cocaine around?"
parent: "Last Action Hero"
parentYear: "1993"
rating: "PG-13"
runtime: "2h 23m"
starring: "Arnold Schwarzenegger, Meredith Caprice, Murray Josephson, Anthony Quinn, Art Carney, Charles Dance"
director: "Franco Columbu"
credit: "Columbia Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action
---
