---
slug: "jack-slater-iii"
title: "Jack Slater III"
featuredTitle: "Jack Slater III"
description: "L.A. cop Jack Slater is on the chase after The Ripper takes a group of children hostage, including Jack’s son."
quote: "Do you want to be a farmer? Here’s a couple of acres."
parent: "Last Action Hero"
parentYear: "1993"
rating: "PG-13"
runtime: "2h 12m"
starring: "Arnold Schwarzenegger, Tina Turner, Frank McRae, Tom Noonan"
credit: "Columbia Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action
---
