---
slug: "john-horatio-malkovich"
title: "John Horatio Malkovich: Dance of Despair and Disillusionment"
featuredTitle: "John Horatio Malkovich: Dance of Despair and Disillusionment"
description: "The enigmatic John Malkovich, one of the world’s greatest entertainers and the man who reinvented how we view puppeteering. Take a look at the man above the strings and the woman behind the man."
quote: "Art always tells the truth, even when it’s lying."
parent: "Being John Malkovich"
parentYear: "1999"
rating: "TV-PG"
runtime: "54m"
starring: "John Malkovich, Maxine Lund, Sean Penn, Christopher Bing, Johnson Heyward"
studio: "American Arts & Culture"
labels: "documentary"
credit: "USA Films"
layout: movie.pug
stills: true
tags:
    - entry
    - tv special
    - documentaries
---
