extends _includes/skeleton

block vars 
    - var title = "Kids & Family on";
    - var description = "Kids, teens, & family films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('The Littlest Elf')
        +entry-img('Dark Bunny')
        +entry-img('Smile Time')
        +entry-img('Papa Troll')
        +entry-img('Camp Pining Hearts')
        .info
            h1 Kids & Family on Nestflix

    span#content

    - var tags = ['family films', 'family sitcoms', 'kids tv', 'kids action shows', 'kids variety shows', 'tv for teens', 'educational videos' ];

    +cards(0,1)
    +feature('It’s Smoochy Time')
    +cards(1,3)
    +feature('Hungry Hungry Hippos')
    +cards(3,7)
