extends _includes/skeleton

block vars 
    - var title = "Kids & Family on";
    - var description = "Kids, teens, & family films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('The Littlest Elf')
        +entry-img('Dark Bunny')
        +entry-img('Smile Time')
        +entry-img('Papa Troll')
        +entry-img('Camp Pining Hearts')
        .info
            h1 Kids & Family on Nestflix

    span#content

    - var tags = ['family films', 'kids tv', 'kids action shows', 'kids variety shows', 'tv for teens', 'educational videos', 'family sitcoms' ];

    +cards(0,1)
    +feature('It’s Smoochy Time')(class='feature-1')
    +feature('Evil Bratt')(class='feature-2')
    +feature('Pretty Princess and Magic Pony Power Hour')(class='feature-3')
    +cards(1,3)
    +feature('Hungry Hungry Hippos')(class='feature-1 bottom')
    +feature('Trans-Clown-O-Morphs')(class='feature-2')
    +feature('Blarney the Singing Sea Serpent')(class='feature-3 bottom')
    +cards(3,7)
