---
slug: "kiss-of-life"
title: "Kiss of Life"
featuredTitle: "Kiss of Life"
description: "Kiss of Life is an act of romantic longing captured on film."
quote: "Not everything in this life is black and white."
parent: "Broken City"
parentYear: "2013"
rating: "R"
runtime: "1h 43m"
starring: "Ryan Balantine, Natalie Barrow"
director: "Carl Counts"
credit: "20th Century Fox"
layout: movie.pug
tags:
    - entry
    - movie
    - romance
---
