---
title: "Logjammin’"
featuredTitle: "Logjammin’"
description: "German handyman Karl is dispatched to fix Bunny’s cable, surprised by the company of her friend Shari who came over to use the shower."
quote: "Za, okay, I bring mein toolz."
parent: "The Big Lebowski"
parentYear: "1998"
rating: "Unrated"
runtime: "54m"
starring: "Karl Hungus, Bunny La Joya"
director: "Jackie Treehorn"
studio: "Gramercy Pictures"
layout: movie.pug
image: /img/logjammin.jpg
thumb: /img/logjammin-thumb.jpg
still1: /img/logjammin-still1.jpg
still2: /img/logjammin-still2.jpg
still3: /img/logjammin-still3.jpg
still4: /img/logjammin-still4.jpg
tags:
    - movie
    - adult
---
