---
slug: "mermaid-man-and-barnacle-boy"
title: "The Adventures of Mermaid Man and Barnacle Boy"
featuredTitle: "The Adventures of Mermaid Man and Barnacle Boy"
description: "By the power of Neptune, Mermaid Man with his young associate Barnacle Boy fight for all creatures that live in the sea against the forces of evil."
quote: "Evil can’t park here between the hours of 6am and 12pm."
parent: "SpongeBob SquarePants"
parentYear: "1999-Present"
rating: "TV-PG"
runtime: "15 seasons"
starring: "Mermaid Man, Barnacle Boy"
labels: "action, superhero"
credit: "Nickelodeon Animation Studio"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - action tv
---
