---
slug: "merrily-we-dance"
title: "Merrily We Dance"
featuredTitle: "Merrily We Dance"
description: "Monty becomes suspicous of Allegra when he sees Biff’s valise in the foyer, despite her claim he hasn’t been to the house. Dierdre has plans of her own."
quote: "It’s... complicated."
parent: "Hail, Caesar!"
parentYear: "2016"
rating: "PG"
runtime: "1h 4m"
starring: "Hobie Doyle"
director: "Laurence Laurentz"
studio: "Capitol Pictures"
credit: "Universal Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - romance
---
