---
slug: "operazione-dyn-o-mite"
title: "Operazione Dyn-o-mite!"
featuredTitle: "Operazione Dyn-o-mite!"
description: "Rick Dalton stars in a Spaghetti secret agent, James Bond rip-off-type flick."
parent: "Once Upon a Time in Hollywood"
parentYear: "2019"
rating: "R"
runtime: "2h 26m"
starring: "Rick Dalton, Margaret Lee"
director: "Antonio Margheriti"
credit: "Columbia Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - espionage
---
