---
slug: "pee-wees-big-adventure"
title: "Pee Wee’s Big Adventure"
featuredTitle: "Pee Wee’s Big Adventure"
description: "The name’s Herman. P.W. Herman. He and Dottie must retrieve his stolen motorbike–the X-1–before the Soviets discover the secret compartment and important microfilm."
quote: "I know you are... but what am I?"
parent: "Pee Wee’s Big Adventure"
parentYear: "1985"
rating: "PG-13"
runtime: "1h 47m"
starring: "James Brolin, Morgan Fairchild"
labels: "action, espionage"
credit: "Warner Bros. Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - spy movies
---
