---
slug: "pineapple-express-2-blood-red"
title: "Pineapple Express 2 Blood Red"
featuredTitle: "Pineapple Express 2 Blood Red"
description: "Red has become a drug lord in Ted Jones’ absence, but Woody Harrelson is threatening it all by promoting legal weed. Stoners Dale and Saul must assassinate Woody... or be assassinated themselves. "
quote: "I smoked weed with Steve Jobs, and that’s when he came up with the iPad."
parent: "This Is the End"
parentYear: "2013"
rating: "R"
runtime: "1h 56m"
starring: "Seth Rogen, James Franco, Danny McBride, Craig Robinson"
credit: "Columbia Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - comedy
---
