---
slug: "professor-proton"
title: "Professor Proton"
featuredTitle: "Professor Proton"
description: "Get your goggles, put your labcoat on, here he comes, Professor Proton! Episodes include the classic series with Arthur Jeffries and the reboot with Wil Wheaton."
quote: "Why can you not trust atoms? Because they make up everything!"
parent: "The Big Bang Theory"
parentYear: "2007-2019"
parent2: "Young Sheldon"
parent2Year: "2017-Present"
rating: "TV-7"
runtime: "10 seasons"
starring: "Arthur Jeffries, Wil Wheaton"
credit: "Warner Bros. Television"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - kids
---
