---
slug: "queens-boulevard"
title: "Queens Boulevard"
featuredTitle: "Queens Boulevard"
description: "A man on the run evades capture and finds more than he was looking for."
quote: "You kidding? I am Queens Boulevard."
parent: "Entourage"
parentYear: "2004-2011"
rating: "R"
runtime: "2h 26m"
starring: "Vincent Chase, Ethan Suplee, Zooey Deschanel, Robert Duvall "
director: "Billy Walsh"
labels: "drama"
credit: "HBO Entertainment"
layout: movie.pug
tags:
    - entry
    - movie
    - dramas
---
