---
slug: "quick-mysteries"
title: "Quick Mysteries"
featuredTitle: "Quick Mysteries"
description: "A gruesome murder scene. Will the cops find out who did it? Oh, there he is. These mysteries get solved quick."
quote: "I killed her. Here’s the weapon and cuff me, thank you very much."
parent: "Rick and Morty"
parentYear: "2013-Present"
rating: "TV-MA"
runtime: "15 seasons"
studio: "Interdimensional Cable"
labels: "crime, documentary"
credit: "Warner Bros. Television"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - crime shows
---
