extends _includes/skeleton

block vars 
    - var title = "Romance on";
    - var description = "Romantic films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Special Someone')
        +entry-img('The Salt Flats')
        +entry-img('The Girl Who Stole the Eiffel Tower')
        +entry-img('The Wedding Bride')
        +entry-img('Unbitten')
        .info
            h1 Romance on Nestflix

    span#content

    - var tags = ['romantic dramas', 'romantic comedies' ];

    +cards(0,1)
    +feature('I Love You, I Love New York')
    +cards(1,2)
