extends _includes/skeleton

block vars 
    - var title = "Romance on Nestflix";
    - var description = "Romantic films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards

block content
    section.category.hero
        div.hero-info
            div
                h1 Romance on Nestflix
                p Lorem ipsum

    span#content

    - var tags = ['romantic dramas', 'romantic comedies' ];

    +cards(0,1)
    +feature('I Love You, I Love New York')
    +cards(1,2)
