extends _includes/skeleton

block vars 
    - var title = "Sci-fi on";
    - var description = "Science fiction films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Space Heroes')
        +entry-img('Helix')
        +entry-img('Space Werewolves')
        +entry-img('Bolt')
        +entry-img('The Flare')
        .info
            h1 Sci-fi on Nestflix

    span#content

    - var tags = ['sci-fi films', 'action sci-fi films', 'sci-fi tv', 'aliens!' ];

    +cards(0,2)
    +feature('Galaxy Quest')(class='feature-1 bottom')
    +feature('The Scary Door')(class='feature-2')
    +feature('Helix')(class='feature-3')
    +cards(2,4)
