---
slug: "scrooge"
title: "Scrooge"
featuredTitle: "Scrooge"
description: "Charles Dickens’ immortal Christmas classic, originally aired live on television. The broadcast was famously interrupted by IBC Television president Frank Cross who learned a Christmas lesson of his own."
quote: "If you give, then it can happen, the miracle can happen to you."
parent: "Scrooged"
parentYear: "1988"
rating: "TV-G"
runtime: "2h 23min"
starring: "Buddy Hackett, Jamie Farr, the Solid Gold Dancers, Mary-Lou Retton, Sir John Houseman"
labels: "christmas"
credit: "Paramount Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - tv special
    - for the holidays
---
