extends _includes/skeleton

block vars 
    - var title = "Nestflix";
    - var description = "Search titles on Nestflix";
    - var bodyClass = "search";

block content
    script.
        const searchData = !{JSON.stringify(collections.search.data)};
        const searchFields = !{JSON.stringify(collections.search.fields)};
        function onSearchChange() {
            let search = decodeURIComponent((document.location.search.split('=')[1] || ''))
                .replace(/[+]/g, ' ')
                .trim();
            if (search == '') {
                return;
            }
            document.querySelector('.search-input').value = search;
            search = search.toLowerCase();
            const entries = [];
            searchData.forEach(function (entry) {
                for (const field of searchFields) {
                    if ((entry[field] || "").indexOf(search) > -1) {
                        entries.push(entry);
                        break;
                    }
                }
            });
            const $ul = document.querySelector('ul.card-list.thumbs');
            entries.forEach(function (entry) {
                const $img = document.createElement('img');
                $img.setAttribute('alt', entry.title);
                $img.setAttribute('src', '/img/' + entry.slug + '-thumb-640w.jpg');
                const $a = document.createElement('a');
                $a.setAttribute('href', '/' + entry.slug + '/');
                $a.appendChild($img);
                const $li = document.createElement('li');
                $li.appendChild($a);
                $ul.appendChild($li);
            });
        }
        document.addEventListener('DOMContentLoaded', onSearchChange);

    //- Added the form to this page. I was thinking the search in the nav could just link to this page? Or could someone type in a search term on the landing page and it would go here?
    form.search-form
        input.search-input(type='text' name='search' id='search' autocomplete='off' autocorrect='off' placeholder='Search by title, genre, etc.')
        button.search-submit Submit

    section.list.short
        ul.card-list.thumbs
        //- Maybe this could show only once a search term has been submitted I dunno. I’ll style this better in a bit
        div
            noscript
                p ⚠️ Search requires JavaScript. Sorry!
            p Can’t find what you’re looking for? #[a(href='/contribute') Submit a title] to be added.
