extends _includes/skeleton

block vars 
    - var path = "search";
    - var title = "Search";
    - var description = "Search nested films and shows on Nestflix";
    - var bodyClass = "search";

block content
    script.
        const searchData = !{JSON.stringify(collections.search.data)};
        const searchFields = !{JSON.stringify(collections.search.fields)};
        function onSearchChange() {
            let search = decodeURIComponent((document.location.search.split('=')[1] || ''))
                .replace(/[+]/g, ' ')
                .trim();
            if (search == '') {
                return;
            }
            document.querySelector('.search-input').value = search;
            search = search
                .toLowerCase()
                .replace(/[’'":,;]/g, '')
                .trim();
            if (search == '') {
                return;
            }
            const entries = [];
            searchData.forEach(function (entry) {
                for (const field of searchFields) {
                    if ((entry[field] || "").replace(/[’'":,;]/g, "").indexOf(search) > -1) {
                        entries.push(entry);
                        break;
                    }
                }
            });
            const $ul = document.querySelector('ul.card-list.thumbs');
            entries.forEach(function (entry) {
                const $img = document.createElement('img');
                $img.setAttribute('alt', entry.title);
                $img.setAttribute('src', '/img/' + entry.slug + '-thumb-900w.jpg');
                const $a = document.createElement('a');
                $a.setAttribute('href', '/' + entry.slug + '/');
                $a.appendChild($img);
                const $li = document.createElement('li');
                $li.appendChild($a);
                $ul.appendChild($li);
            });
        }
        document.addEventListener('DOMContentLoaded', onSearchChange);

    form.search-container
        label.search-label(for='search') Search Nestflix
        .search-flex
            input.search-input(type='text' name='search' id='search' autocomplete='off' autocorrect='off' placeholder='Search by title, parent film, etc.')
            button.search-submit Search
        p.search-help Type your search term(s) and hit Enter.

    section.list.short
        ul.card-list.thumbs
        //- Maybe this could show only once a search term has been submitted I dunno. I’ll style this better in a bit
        div
            noscript
                p ⚠️ Search requires JavaScript. Sorry!
            //- p Type a movie or show. Hit Enter or click Search.
            //- small Can’t find what you’re looking for? #[a(href='/contribute') Submit a title] to be added.
