---
slug: "sheldon-cooper-presents-fun-with-flags"
title: "Sheldon Cooper Presents Fun with Flags"
featuredTitle: "Sheldon Cooper Presents Fun with Flags"
description: "Dr. Sheldon Cooper explores the dynamic world of vexillology. Notable guests include Wil Wheaton and LeVar Burton."
quote: "Is this a show on flags or mind reading?"
parent: "The Big Bang Theory"
parentYear: "2007-2019"
rating: "Unrated"
runtime: "254 episodes"
starring: "Sheldon Cooper, Amy Farrah Fowler"
credit: "Warner Bros. Television"
layout: movie.pug
stills: true
tags:
    - entry
    - web series
    - talk show
---
