---
slug: "shut-up-and-listen"
title: "Shut Up and Listen"
featuredTitle: "Shut Up and Listen"
description: "Saturday night cable show featuring Lilly Moscovitz speaking with guests about current events and animal activism."
parent: "The Princess Diaries"
parentYear: "2001"
rating: "TV-G"
runtime: "2 seasons"
starring: "Lilly Moscovitz"
labels: "talk show"
credit: "Walt Disney Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - talk shows
---
