---
slug: "simple-jack"
title: "Simple Jack"
featuredTitle: "Simple Jack"
description: "The heart-wrenching story of Jack, a mentally impaired farmhand who can talk to animals."
quote: "You make me happy."
parent: "Tropic Thunder"
parentYear: "2008"
rating: "PG"
runtime: "2h 3m"
starring: "Tugg Speedman, Christine Taylor"
studio: "Paramount Pictures"
layout: movie.pug
image: /img/simple-jack.jpg
thumb: /img/simple-jack-thumb.jpg
still1: /img/simple-jack-still1.jpg
still2: /img/simple-jack-still2.jpg
still3: /img/simple-jack-still3.jpg
still4: /img/simple-jack-still4.jpg
tags:
    - movie
    - drama
---
