extends _includes/skeleton

block vars 
    - var title = "Soaps & Telenovelas on";
    - var description = "Soap operas and telenovelas within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Southwest General')
        +entry-img('Mundo del Amor')
        +entry-img('Tiago a Través del Tiempo')
        +entry-img('Smoldering Cove')
        +entry-img('Exploción Gigantesca de Romance')
        .info
            h1 Soaps & Telenovelas on Nestflix

    span#content

    - var tags = ['soap operas', 'telenovelas' ];

    +cards(0,1)
    +feature('La Última Pasión')
    +cards(1,2)
