extends _includes/skeleton

block vars 
    - var title = "Sports on Nestflix";
    - var description = "Sports films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Pucks!')
        +entry-img('Sports Shouting')
        +entry-img('Man vs Car')
        +entry-img('Supreme Extreme Champions')
        +entry-img('Sparkle Your Life with Elisabeth')
        .info
            h1 Sports on Nestflix

    span#content

    - var tags = ['sports talk', 'fighters face off', 'sports films and series', 'fitness' ];

    +cards(0,2)
    +feature('Sparkle Your Life with Elisabeth')
    +cards(2,4)
