---
slug: "stab"
title: "Stab"
featuredTitle: "Stab"
description: "The true story of Sidney Prescott, based on “The Woodsboro Murders” by Gale Weathers."
quote: "This is gonna hurt..."
parent: "Scream 2"
parentYear: "1997"
rating: "R"
runtime: "1h 54m"
starring: "Tori Spelling, Luke Wilson, Heather Graham, David Schwimmer"
director: "Robert Rodriguez"
credit: "Dimension Films"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - slasher
---
