---
slug: "stab-6"
title: "Stab 6"
featuredTitle: "Stab 6"
description: "A bunch of articulate teens sit around and deconstruct horror movies until Ghostface kills them one by one. You get what these are about by now right?"
quote: "I dare you to open the door."
parent: "Scream 4"
parentYear: "2011"
rating: "R"
runtime: "1h 46m"
starring: "Lucy Hale, Shenae Grimes"
labels: "slasher"
credit: "Universal Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - horror movies
---
