---
slug: "stanley-spadowskis-clubhouse"
title: "Stanley Spadowski’s Clubhouse"
featuredTitle: "Stanley Spadowski’s Clubhouse"
description: "You’ll never predict what happens next: fun, antics, and the occasional deep thought. Includes the lost episodes of Uncle Nutzy’s Clubhouse."
quote: "Sometimes you just have to take what life gives you, cause life is like a mop."
parent: "UHF"
parentYear: "1989"
rating: "TV-Y"
runtime: "2 seasons"
starring: "Stanley Spadowski, George Newman, Bob Steckler"
studio: "Channel 62"
labels: "kids"
credit: "Orion Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - kids tv
---
