---
slug: "stolz-der-nation"
title: "Stolz der Nation"
featuredTitle: "Stolz der Nation"
description: "The story of German sniper Frederick Zoller who single-handedly held off 250 Allied soldiers."
parent: "Inglourious Basterds"
parentYear: "2009"
rating: "Unrated"
runtime: "46m"
starring: "Fredrick Zoller"
director: "Alois von Eichberg"
credit: "The Weinstein Company"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - war
---
