extends _includes/skeleton

block vars 
    - var title = "Superheroes on";
    - var description = "Superhero films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Dawn of the Seven')
        +entry-img('Radioactive Man')
        +entry-img('Advancimals')
        +entry-img('The Gray Ghost')
        +entry-img('Crash Nebula')
        .info
            h1 Superheroes on Nestflix

    span#content

    - var tags = ['mighty movie heroes', 'tv superheroes', 'super team-ups' ];

    +cards(0,1)
    +feature('Radioactive Man: The Series')(class='feature-1')
    +feature('Super Robo Mecha Force Five!')(class='feature-2')
    +feature('The Red Badger of Courage')(class='feature-3')
    +cards(1,3)
