extends _includes/skeleton

block vars 
    - var title = "Talk Shows on";
    - var description = "Talk shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Montague')
        +entry-img('Today in Fashion')
        +entry-img('Wayne’s World')
        +entry-img('Dishing Davenport')
        +entry-img('Live! with Murray Franklin')
        .info
            h1 Talk Shows on Nestflix

    span#content

    - var tags = ['talk shows', 'public-access talk shows', 'entertainment commentary', 'late night talk shows', 'variety shows'];

    +cards(0,1)
    +feature('Night Owls with Jack Delroy')
    +cards(1,3)
    +feature('Obah')
    +cards(3,5)
