---
slug: "teresa-the-making-of-a-saint"
title: "Teresa: The Making of a Saint"
featuredTitle: "Teresa: The Making of a Saint"
description: "In a world where passion is forbidden and belief is divine, one woman achieved everything by helping those who had nothing. Apollo Award Winner Sophie Maes is Mother Teresa."
quote: "The faith is strong in this one"
parent: "How to Lose Friends & Alienate People"
parentYear: "2008"
rating: "NC-17"
runtime: "1h 56m"
starring: "Sophie Maes, Sir Ben Queensley, Dame Peggy Aitken, Tod Rivera"
director: "Mel Cohen"
credit: "Paramount Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - drama
---
