---
slug: "terrance-and-phillip-behind-the-blow"
title: "Terrance and Phillip: Behind the Blow"
featuredTitle: "Terrance and Phillip: Behind the Blow"
description: "The rise and fall and rebirth of Canadian comedy duo, Terrance and Phillip."
quote: "It was the birth of Canadian comedy."
parent: "South Park"
parentYear: "1997-Present"
rating: "TV-MA"
runtime: "1h 34m"
starring: "Sir Phillip Niles Argyle, Sir Terrance Henry Stoot"
labels: "documentary"
credit: "Comedy Central"
layout: movie.pug
stills: true
tags:
    - entry
    - tv special
    - documentaries
---
