extends _includes/skeleton

block vars 
    - var title = "Thanks!";
    - var description = "Confirmation page for Nestflix form submission";
    - var bodyClass = "contribute";

block content
    section#content
        h1 Thank you!
