extends _includes/skeleton

block vars 
    - var path = "thanks";
    - var title = "Thanks from Nestflix";
    - var description = "Confirmation page for Nestflix form submission";
    - var bodyClass = "contribute";

block content
    section#content.center.thanks
        h1 Thank you!
        p Your submission has been received!
        p Sit tight. It may take a bit for your submission to be reviewed and added.
