---
slug: "the-adventures-of-stealy"
title: "The Adventures of Stealy"
featuredTitle: "The Adventures of Stealy"
description: "Follow Stealy on his adventures through various places. He’s gonna just steal a couple of things."
quote: "We got a plumbus. That’s six and a half brapples."
parent: "Rick and Morty"
parentYear: "2013-Present"
rating: "TV-14"
runtime: "1 season"
studio: "Interdimensional Cable"
labels: "reality"
credit: "Warner Bros. Television"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - reality tv
---
