---
slug: "the-hollywood-television-showcase"
title: "The Hollywood Television Showcase"
featuredTitle: "The Hollywood Television Showcase"
description: "A 1960’s weekly showcase of comedians, musicians, scientists, acrobatic performers, and amazing animals."
parent: "That Thing You Do!"
parentYear: "1996"
rating: "TV-G"
runtime: "2 seasons"
starring: "Troy Chesterfield"
labels: "variety, entertainment"
credit: "20th Century Fox"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - variety shows
---
