---
slug: "the-jump-street-collection"
title: "The Jump Street Collection"
featuredTitle: "The Jump Street Collection"
description: "Morton Schmidt and Greg Jenko are back in class. No school is too small."
quote: "New assignment!"
parent: "22 Jump Street"
parentYear: "2014"
rating: "R"
runtime: "2h 4m"
starring: "Jonah Hill, Channing Tatum, Ice Cube"
labels: "action, comedy, buddy cop"
credit: "MGM Pictures"
layout: 22-jump-street.pug
submovies: true
tags:
    - entry
    - movie
    - buddy cops
---
