---
slug: "the-george-simmons-collection"
title: "The George Simmons Collection"
featuredTitle: "The George Simmons Collection"
description: "A selection of films from prolific comedian and actor, George Simmons."
parent: "Funny People"
parentYear: "2009"
rating: "PG-13"
runtime: "9h 23m"
starring: "George Simmons"
director: "Judd Apatow"
labels: "collection, comedy"
credit: "Universal Pictures"
layout: movie.pug
submovies: true
tags:
    - entry
    - movie
    - comedies
---
