---
slug: "the-wedding-bride-too"
title: "The Wedding Bride Too"
featuredTitle: "The Wedding Bride Too"
description: "Jed Mosely schemes to make all weddings illegal as revenge on Stella and Tony. There goes the honeymoon!"
quote: "Narshall!"
parent: "How I Met Your Mother"
parentYear: "2005-2014"
rating: "PG-13"
runtime: "1h 56m"
starring: "Chris Kataan, Malin Akerman, Jason Lewis, Jon Heder"
director: "Tony Grafanello"
labels: "comedy, romance"
credit: "20th Century Fox Television"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - romantic comedies
---
