---
slug: "the-real-mermaid-man-and-barnacle-boy-movie"
title: "The Real Mermaid Man and Barnacle Boy Movie"
featuredTitle: "The Real Mermaid Man and Barnacle Boy Movie"
description: "The real Mermaid Man and Barnacle Boy must protect Fort Lox and its five billion Krabby Patties from the devious Kelp-Thing!"
quote: "Prepare to feel my wrath, you foul villain!"
parent: "SpongeBob SquarePants"
parentYear: "1999-Present"
rating: "PG"
runtime: "34m"
starring: "Mermaid Man, Barnacle Boy, Sandy Cheeks"
director: "SpongeBob SquarePants"
labels: "action, superhero"
credit: "Nickelodeon Animation Studio"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - action movies
---
