---
slug: "the-mel-dorado-show"
title: "The Mel Dorado Show"
featuredTitle: "The Mel Dorado Show"
description: "Mel Dorado’s award-winning syndicated talk show. Mel chats with guests from the racing world like Miles Axlerod and Francesco Bernoulli, while taking questions from callers."
quote: "Go ahead, caller."
parent: "Cars 2"
parentYear: "2011"
rating: "TV-G"
runtime: "20 seasons"
starring: "Mel Dorado"
credit: "Pixar Animation Studios"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - talk show
---
