---
slug: "the-purple-rose-of-cairo"
title: "The Purple Rose of Cairo"
featuredTitle: "The Purple Rose of Cairo"
description: "Manhattan playwright Henry meets archaeologist Tom Baxter while on vacation in Egypt. He invites Tom back to New York where he falls for Kitty Haynes, singer at the Copacabana."
quote: "A fortune-teller predicted I’d fall in love in New York. "
parent: "The Purple Rose of Cairo"
parentYear: "1985"
rating: "PG-13"
runtime: "1h 12m"
starring: "Rogert Talmadge, Anna Rayburn, Todd Morgan, Gil Shepherd, Beatrice Kelly, Sidney Oliver, Kate Payson"
labels: "drama, romance"
studio: "RKO Radio Pictures"
credit: "Orion Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - hollywood’s golden age
---
