---
slug: "the-blocky-and-oxwinkle-show"
title: "The Blocky and Oxwinkle Show"
featuredTitle: "The Blocky and Oxwinkle Show"
description: "Blocky and Oxwinkle face off against arch-enemies, Uri and Svetana, and obliviously save the day in the nick of time!"
quote: "Hey mister, you left your clock here in the middle of the street!"
parent: "Rugrats"
parentYear: "1991-2005"
rating: "TV-Y"
runtime: "10 seasons"
labels: "kids"
credit: "Nickelodeon Animation Studio"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - kids tv
---
