---
slug: "the-life-aquatic"
title: "The Life Aquatic Adventure No. 12: The Jaguar Shark (Part 1)"
featuredTitle: "The Life Aquatic Adventure No. 12: The Jaguar Shark (Part 1)"
description: "Steve Zissou and crew take the Belafonte to Oubyamywe Peninsula, a remote and fascinating region teeming with extraordinary marine life."
parent: "The Life Aquatic with Steve Zissou"
parentYear: "2004"
rating: "Unrated"
runtime: "1h 2m"
starring: "Steve Zissou, Esteban du Plantier, Klaus Daimler, Vikram Ray, Bobby Ogata, Renzo Pietro, Vladimir Wolodarsky, Anne-Marie Sakowitz, Pelé dos Santos, Eleanor Zissou"
director: "Steve Zissou"
labels: "documentary, educational"
studio: "Oseary Drakoulias"
credit: "Buena Vista Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - documentaries
---
