---
slug: "the-shook-up-shopping-cart"
title: "The Shook-Up Shopping Cart"
featuredTitle: "The Shook-Up Shopping Cart"
description: "Uncle Cedric is a sentient anthropomorphic shopping cart who is always getting into trouble."
quote: "His right front wheel is sort of wobbly."
parent: "Matinee"
parentYear: "1993"
rating: "PG"
runtime: "1h 34m"
labels: "comedy, family"
credit: "Universal Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - comedies
---
