---
slug: "the-dirk-diggler-story"
title: "The Dirk Diggler Story"
featuredTitle: "The Dirk Diggler Story"
description: "For Dirk Diggler, the future is something to look forward to, not to fear. He is a creative man of many interests: film, poetry, karate, music, and dance. He is a man of passion and mystery. He is a man of lust."
quote: "I only am who I am because I was born that way."
parent: "Boogie Nights"
parentYear: "1997"
rating: "Unrated"
runtime: "1h 12m"
starring: "Dirk Diggler, Reed Rothchild, Jack Horner, Rollergirl"
director: "Amber Waves"
credit: "New Line Cinema"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - documentary
---
