---
slug: "the-peppy-miller-collection"
title: "The Peppy Miller Collection"
featuredTitle: "The Peppy Miller Collection"
description: "Peppy Miller popularized the talkie, moving film into a new era. While Beauty Spot put her on the map, these five films showcase the meteoric rise of the girl you’ll love to love."
parent: "The Artist"
parentYear: "2011"
rating: "PG"
runtime: "7h 5m"
starring: "Peppy Miller, George Valentin"
studio: "Kinograph Studios"
credit: "Warner Bros. Pictures"
layout: movie.pug
submovies: true
tags:
    - entry
    - movie
    - romance
---
