---
slug: "the-thunderbolt-adventure-hour"
title: "The Thunderbolt Adventure Hour"
featuredTitle: "The Thunderbolt Adventure Hour"
description: "Join Thunderbolt, the greatest dog in the whole world as he faces off with his archenemy, horse thief Dirty Dawson. Brought to you by Kanine Krunchies."
quote: ""
parent: "One Hundred and One Dalmatians"
parentYear: "1961"
rating: "TV-Y"
runtime: "3 seasons"
starring: "Paul Frees"
credit: "Disney Animation Studios"
layout: movie.pug
stills: true
tags:
    - tv series
    - western
---
