---
slug: "the-crows-have-eyes-3"
title: "The Crows Have Eyes 3: The Crowening"
featuredTitle: "The Crows Have Eyes 3: The Crowening"
description: "Dr. Clara Mandrake, respected ornithologist, know the crows are watching. An apocalyptic fantasy about mutant crows and a timely allegory about prejudice."
quote: "That’s not an eclipse, Nathaniel. Those are birds!"
parent: "Schitt’s Creek"
parentYear: "2015-2020"
rating: "PG-13"
runtime: "1h 54m"
starring: "Moira Rose"
director: "Blaire"
studio: "Interflix"
labels: "horror, monster"
credit: "Canadian Broadcasting Corporation"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - horror movies
---
