---
slug: "the-paper-badge"
title: "The Paper Badge"
featuredTitle: "The Paper Badge"
description: "Working the streets is tough on a cop, but working the desk can be even scarier. Maricich and Devol are on the case... paperwork."
quote: "This report is an I-N270, file number 79251J. It is not a 35-DIB and should not be filed as such."
parent: "For Your Consideration"
parentYear: "2006"
rating: "PG-13"
runtime: "1h 46m"
starring: "John Krasinski, Paul Dooley"
credit: "Warner Independent Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - buddy cop
---
