---
slug: "the-duelling-cavalier"
title: "The Duelling Cavalier"
featuredTitle: "The Duelling Cavalier"
description: "100% all talking. The story of Count Pierre de Battaille and young Yvonne who find love during the French Revolution, despite the threats of Madame Guillotine."
quote: "I am the saddest of mortals in France."
parent: "Singin’ in the Rain"
parentYear: "1952"
rating: "PG"
runtime: "1h 23m"
starring: "Don Lockwood, Lina Lamont"
director: "Roscoe Dexter"
studio: "Monumental Pictures"
labels: "drama, romance"
credit: "Metro-Goldwyn-Mayer"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - hollywood’s golden age
---
