---
slug: "the-collector"
title: "The Collector"
featuredTitle: "The Collector"
description: "A woman unknowingly becomes the target of a dangerous man, The Collector."
parent: "Code Unknown"
parentYear: "2000"
rating: "R"
runtime: "2h 15m"
starring: "Anne Laurent"
credit: "Artificial Eye"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - thriller
---
