---
slug: "the-deepening-3"
title: "The Deepening 3"
featuredTitle: "The Deepening 3"
description: "The CIA is training sharks to attack Soviet submarines and holding shark babies hostage in the nude hot tub. Presented in 3-D... 3-Deepening."
parent: "Bob’s Burgers"
parentYear: "2011-Present"
rating: "R"
runtime: "1h 54m"
starring: "Linda Blair"
labels: "horror, monster"
credit: "Disney-ABC Domestic Television"
layout: movie.pug
tags:
    - entry
    - movie
    - monster movies
---
