---
slug: "the-night-the-reindeer-died"
title: "The Night the Reindeer Died"
featuredTitle: "The Night the Reindeer Died"
description: "The North Pole is abuzz as Christmas preparation is in full swing. But a group of psychos have other plans and seize Santa’s Workshop. Only Lee Majors can stop them."
quote: "Lee, you’ve been a real good boy this year!"
parent: "Scrooged"
parentYear: "1988"
rating: "PG-13"
runtime: "1h 32m"
starring: "Lee Majors, Al ‘Red Dog’ Weber, Jean Speegle Howard"
labels: "action, christmas"
credit: "Paramount Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - movie
    - for the holidays
---
