extends _includes/skeleton

block vars 
    - var path = "user";
    - var title = "User Profile";
    - var description = "A message for visitors of Nestflix";
    - var bodyClass = "contribute";

block content
    section#content.user-profile
        img(src='https://media.giphy.com/media/QyrysGo7Hz70I/giphy.gif' alt='Jack McBrayer giving a joyful double thumbs up')
        h1 Hey you! You’re great!
        p Thank you for visiting Nestflix 😍
