extends _includes/skeleton

block vars 
    - var title = "Westerns & Classics on Nestflix";
    - var description = "Westerns and Hollywood classic films and shows within other films and shows.";
    - var bodyClass = "category";

include _includes/mixin-feature
include _includes/mixin-cards
include _includes/mixin-entry-img

block content
    section.hero
        +entry-img('Woody’s Roundup')
        +entry-img('Lazy Ol’ Moon')
        +entry-img('Hotel Reverie')
        +entry-img('Billy The Kid')
        +entry-img('The Royal Rascal')
        .info
            h1 Westerns & Classics on Nestflix

    span#content

    - var tags = ['westerns', 'hollywood’s golden age' ];

    +cards(0,1)
    +feature('The Rick Dalton Collection')
    +cards(1,2)
