---
slug: "wheel-of-fish"
title: "Wheel of Fish"
featuredTitle: "Wheel of Fish"
description: "Contestants compete to win their weight in fish. Will they keep the fish or risk it all for a mystery box prize?"
parent: "UHF"
parentYear: "1989"
rating: "TV-G"
runtime: "1 season"
starring: "Kuni"
studio: "Channel 62"
credit: "Orion Pictures"
layout: movie.pug
stills: true
tags:
    - entry
    - tv series
    - game show
---
